{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "css", "jsx"],
        "plugins": ["line-numbers"],
        "theme": "tomorrow",
        "css": true
    }]
  ]
}